{{> header}}
    <div class="container">
        <div class="card">
            <div class="card-body text-center">
                <h3>Сервіс отримання даних про погоду</h3>
                <a href="/weather" class="btn btn-primary btn-lg" role="button">Сторінка погоди</a>
            </div>
        </div>
    </div>
{{> footer}}